[alias]
  st = status
  ci = commit -a -v
  co = checkout
  l = log --graph --color=always --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  lp = log -p

[core]
  excludesfile = ~/.gitignore
  pager = delta
  editor = nvim
  autoCRLF = false
  syntax-theme = Solarized (dark)

[commit]
  gpgsign = true

[diff]
  algorithm = histogram
  colorMoved = default

[diff "exif"]
  textconv = exiftool

[gui]
  encoding = utf-8

[i18n]
  commitencoding = utf-8

[interactive]
  diffFilter = delta --color-only

[merge]
  ff = false
  conflictstyle = zdiff3
  tool = nvimdiff

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"

[push]
  default = current

[pull]
  ff = only

[url "git@github.com:"]
  pushinsteadof = "git://github.com/"
  pushinsteadof = "https://github.com/"

# --------
# plugins
# --------
[delta]
  dark = true
  line-numbers = true
  navigate = true
  hunk-header-style = omit
  syntax-theme = Solarized (dark)
  hyperlinks = true

[rerere]
  enabled = true

# --------
# local
# --------
[include]
  path = ~/.gitconfig.default_user

[include]
  path = ~/.gitconfig.local
