ipch/
.DS_Store
*~
*.sdf
*.suo
*.pdb
*.lib
*.dll
*.zip
*.exp
*.exe
*.tar
*.tar.gz
*.gz
.mono/
doc/tags
doc/tags-ja
config/coc
config/raycast/
config/btop/
config/iterm2/
config/yazi/flavors/
config/yazi/plugins/
config/gh/hosts.yml
