[submodule ".zsh/zaw"]
  path = .zsh/zaw
  url = git://github.com/zsh-users/zaw.git

[submodule "gitignore"]
	path = gitignore
  url = https://github.com/github/gitignore.git

[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
  url = https://github.com/Shougo/neobundle.vim.git

[submodule "alacritty-theme"]
	path = alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
