[alias]
  st = status
  ci = commit -a -v
  co = checkout

[core]
  excludesfile = ~/.gitignore
  editor = nvim
  autoCRLF = false
  syntax-theme = Solarized (dark)

[diff]
  algorithm = histogram
  colorMoved = default

[diff "exif"]
  textconv = exiftool

[gui]
  encoding = utf-8

[i18n]
  commitencoding = utf-8

[interactive]
  diffFilter = delta --color-only

[merge]
  ff = false
  conflictstyle = zdiff3
  tool = nvimdiff

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "diffview"]
  cmd = nvim -n -c "DiffviewOpen" "$MERGE"

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"

[pager]
  log = bat
  show = bat
  diff = bat

[push]
  default = current

[pull]
  ff = only

[user]
  name = kimoto
  email = your-username@users.noreply.github.com

[url "git@github.com:"]
  pushinsteadof = "git://github.com/"
  pushinsteadof = "https://github.com/"

# --------
# plugins
# --------
[delta]
  side-by-side = true
  # navigate = true
  dark = true
  line-numbers = true
  #true-color = always
  syntax-theme = Solarized (dark)
